name: DB to JSON
on:
  schedule:
    - cron: "5 */4 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Produk dan Blog
    steps:
      - uses: actions/checkout@v4
        name: Git Checkout v4
      - name: Install latest wrangler
        run: /usr/local/bin/npm i -g wrangler
      - name: Produk
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          ls -latrh sm-data/
          wrangler d1 execute toko-suhada --remote --command="SELECT id,name,slug,cat,price,normal_price,img,rating FROM produk ORDER BY created_at DESC" --json > sm-data/temp-product.json
          jq 'map(del(.meta))' sm-data/temp-product.json > sm-data/product.json
          rm -f sm-data/temp-product.json
          ls -latrh sm-data/
      - name: Blog
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          wrangler d1 execute toko-suhada --remote --command="SELECT id,title,slug,post,img FROM blog ORDER BY created_at DESC" --json > sm-data/temp-blog.json
          jq 'map(del(.meta))' sm-data/temp-blog.json > sm-data/blog.json
          rm -f sm-data/temp-blog.json
          ls -latrh sm-data/
      - name: Commit
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add sm-data/*
          git commit -m "Produk dan Blog" || exit 0
          git push
