name: DB to JSON
on:
  # schedule:
  #   - cron: "20 * * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Produk dan Blog
    steps:
      - uses: actions/checkout@v4
      - name: Install latest wrangler
        run: |
          /usr/local/bin/npm i -g wrangler
          ls -latrh
      # - name: product.json
      #   env:
      #     CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      #   run: |
      #     wrangler d1 execute toko-suhada --remote --command="SELECT * FROM produk ORDER BY created_at DESC" --json > public/data/product.json
      #     wrangler d1 execute toko-suhada --remote --command="SELECT * FROM blog ORDER BY created_at DESC" --json > public/data/blog.json
      #     ls -latrh public/data/
      # - name: Check file, commit, push
      #   run: |
      #     git config user.name "github-actions"
      #     git config user.email "github-actions@github.com"

      #     git add public/data/*
      #     git commit -m "Produk dan Blog" || exit 0
      #     git push
